.main-container{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content-container{
  border-radius: .3rem;
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;

  textarea{
    border: 1px solid black;
    border-radius: 0;
    height: 12rem;
  }
  button{
    width: 9rem;

    &:hover{
      background-color: rgb(247, 175, 175);
    }
  }
}

.action-container{
  display: flex;
  justify-content: center;
}

