<div class="main-container">
  <div class="content-container card text-center">
    <div class="form-outline">
      <textarea [(ngModel)]="codecontain" class="form-control" id="textAreaExample" rows="4"></textarea>
    </div>
    <div class="action-container">
      <button type="button" class="btn btn-outline-danger" (click)="submitCode()">
        Build and run
      </button>
    </div>
  </div>
  <div class="content-container card">
    <div class="card-body">
      <h5 class="card-title">Output</h5>
    </div>
  </div>

</div>

